
<center>

<main class="main-body">

  <div class="about-page">



    <div class="about-header"><img src="emoticons/022-computer.png"><h1>ABOUT</h1></div>
    <h3>What is ConCon?</h3>
    <p> This is a tool to help you make more informed decisions about the things you buy everyday. It's as simple as taking a picture. Simply open the app and read a barcode. We'll get all the information we have on the parent company, and you make the decision on whether or not you would like to support the company and its practices with your purchase.</p>
    <h3>How do you determine the letter grade?</h3>
    <p> The grade is a combination of a number of factors, including the company's green rating, community impact, and corporate social responsibility (CSR score) based on a number of publically available resources from non-profits. The ratings are converted into grades out of 100 and then averaged and converted to a letter score.</p>
    <h3>What products are currently part of the database?</h3>
    <p>Right now this tool targets grocery and personal care products. This includes the top 100 food and grocery manufacturers and the top 50 personal care / home goods manufacturers in the United States. This covers the large majority of products, but more are being added each day! </p>

  </div>

  </main>
</center>
