<center>

  <main class="main-body">

    <div class="about-page">
      <div class="credits-info">
      <div class="about-header"><img src="emoticons/015-plant.png">
        <h1>CREDITS</h1>
      </div>

      <h3>CREATED BY</h3>
      <a href="http://www.karlrodulfo.com/" target="_blank">
        KARL RODULFO
      </a>
      <p></p>
      <h3>RESOURCES</h3>
      <a href="https://www.csrhub.com/" target="_blank">
        CSR HUB
      </a>
      <a href="https://api.barcodable.com/" target="_blank">
        BARCODEABLE
      </a>
      <a href="https://peta.org/" target="_blank">

        PETA

      </a>
      <a href="https://guide.ethical.org.au" target="_blank">

        SHOP ETHICAL!
      </a>
      <a href="https://www.buycott.com/" target="_blank">

        BUYCOTT
      </a>
      <p></p>
      <h3>TOOLS</h3>
      <a href="https://serratus.github.io/quaggaJS/" target="_blank">

        QUAGGA JS
      </a>
      <a href="https://www.flaticon.com/" target="_blank">

        FLATICON
      </a>
      <a href="https://daneden.github.io/animate.css/" target="_blank">

        ANIMATE CSS
      </a>
      <a href="https://bridge.buddyweb.fr/" target="_blank">

        BRIDGE API MAKER
      </a>
    </div>
    </div>

  </main>
</center>
