/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 $color1: rgba(80, 81, 79, 1);
 $color2: rgba(180, 173, 234, 1);
 $color3: rgba(253, 255, 247, 1);
 $color4: rgba(89, 255, 160, 1);
 $color5: rgba(255, 237, 101, 1);
 */

:root {
  font-family: 'KoHo', sans-serif;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0.35turn, rgba(253, 255, 247, 1), rgba(255, 237, 101, .5));
  font-size: 14px;
}

main {
  display: flex;
  width: 320px;
  flex-direction: column;
  color: rgba(80, 81, 79, 1);
  background-color: rgba(214, 157, 144, 0.14)
}

a {
  text-decoration: none;
  color: rgba(62, 182, 113, 1);
}

a:hover, a:visited, a::selection {
  text-decoration: none;
  color: rgba(182, 169, 70, 1);
}

h1, h2, h3, h4, h5, h5 {
margin: 0;
line-height: 1.1em;
}

.scan-and-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 320px;
}

#scanner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#scanner-container video {
  width: 300px;
  padding: 10px;
  border-radius: 15px;
}

.news-section {
  padding: 15px 0;
}

#btn {
  height: 30px;
  width: 250px;
  background-color: #51afdc;
  color: rgba(253, 255, 247, 1);
  border-radius: 15px;
}

#btn:hover, #btn::selection {
  background-color: #006296;
  cursor: pointer;
}

#btn:active {
  transform: translate(5px, 0px);
}

#more {
  display: flex;
  position: absolute;
  bottom: 0px;
  padding: 10px;
}

.general-info {
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 15px 0;
}

.general-info-right {
  display: flex;
  text-align: right;
  flex-direction: column;
}

.general-info-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.general-info-right img {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.score-visuals {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.letter-visuals {
  display: flex;
  justify-content: flex-start;
}

.letter-visuals div {
 font-size: 70px;
 width: 160px;
 height: 120px;
 display: flex;
 align-items: center;
 box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.33);
 padding-left: 30px;
 box-sizing: border-box;
 font-family: 'Fredoka One', cursive;
 color: white;
}

.political-box {
  width: 320px;
}

.political-icons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 320px;
}

.political-icons img {
  width: 60px;
  height: 50px;
  margin-top: -55px;
}

.political-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

}

.political-bar {
  width: 220px;
  height: 20px;
  background-color: tomato;
  overflow: hidden;
    box-shadow: 2px 2px 2px grey;
}

.political-fill {
  height: 20px;
  background-color: rgb(95, 151, 245);
}
