/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 $color1: rgba(80, 81, 79, 1);
 $color2: rgba(180, 173, 234, 1);
 $color3: rgba(253, 255, 247, 1);
 $color4: rgba(89, 255, 160, 1);
 $color5: rgba(255, 237, 101, 1);
 */

:root {
  font-family: 'KoHo', sans-serif;
}

body {
  background: linear-gradient(0.35turn, rgba(253, 255, 247, 1), rgba(255, 237, 101, .5));
  font-size: 14px;
  padding: 0;
  margin: 0;
  background: linear-gradient(rgba(233, 255, 220, 0.62), rgba(255, 255, 255, 0.56)), url('/background1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

main {
  display: flex;
  /* max-width: 640px; */
  flex-direction: column;
  color: rgba(80, 81, 79, 1);
  /* background-color: rgba(214, 157, 144, 0.14) */
}

a {
  text-decoration: none;
  color: rgba(50, 144, 90, 1);
}

a:hover, a:visited, a::selection {
  text-decoration: none;
  color: rgba(138, 129, 67, 1);
}

h1, h2, h3, h4, h5, h5 {
  margin: 0;
  line-height: 1.1em;
}

ul {
  list-style-position: inside;
  list-style-type: square;
  margin: 0;
  padding: 0;
  color: rgba(58, 53, 102, 1);
  text-align: left;
}

hr {
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(42, 124, 133);
  border: 0 none;
}

.scan-and-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 40px);
  /* max-width: 640px; */
}

.credits-info {
  display: flex;
  align-items: flex-start;
  justify-content:flex-start;
  flex-direction: column;
  text-align: right


}
.about-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 40px);
  max-width: 600px;
}

.about-page h1 {
  margin: 20px 10px;
  color: rgb(32, 110, 98);
}

.about-page h3 {
  color: rgb(61, 102, 156)
}

.about-page p {
  margin: 10px 20px 20px 20px;
}
.about-page img {
  width: 60px;
  height: 60px;
  margin: 0 10px;
}
.about-header {
  display:flex;
  margin: 20px;
}

.found {
  width: 80px;
  height: 80px;
  position:fixed;
  top: 160px;
  left: calc(50vw - 40px);
}

.display-none {
  display: none;
}

/* NAVBAR */

.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
}

.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */

.topnav a {
  color: white;
  padding: 9px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.topnav a.icon {
  background: rgba(80, 81, 79, 0.59);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: rgba(237, 244, 255, 0.81);
  color: rgba(80, 81, 79, 0.59);
}

.activenav {
  background-color: #40bab3;
  color: white;
}

/* NAVBAR */

#scanner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#scanner-container video {
  width: 320px;
}

.news-section {
  padding: 15px;
  text-align: left;
}

#btn {
  height: 40px;
  width: 100%;
  background-color: #51afdc;
  color: rgba(253, 255, 247, 1);
  font-size: 16px;
  border-style: solid;
  border-width: 2px 0;
  border-color: white;
  position: relative;
}

#btn:hover, #btn::selection {
  background-color: #006296;
  cursor: pointer;
}

#btn:active {
  transform: translate(5px, 0px);
}

.scan-and-info form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.scan-and-info input[type=text] {
  height: 38px;
  width: 80%;
  color: rgba(253, 255, 247, 1);
  border-style: solid;
  border-width: 1px;
  border-color: #f3c74f;
  background-color: rgba(244, 199, 79, 0.53);
  padding: 0 0 0 20px;
  font-size: 16px;
}

.scan-and-info input[type=submit] {
  height: 40px;
  width: 25%;
  background-color: #f3c74f;
  color: rgba(253, 255, 247, 1);
  border: none;
  font-size: 16px;
}

.scan-and-info input[type=submit]:hover {
  background-color: #c8a64a;
  cursor: pointer;
}

#more {
  display: flex;
  position: absolute;
  bottom: 0px;
  text-shadow: 0 0 15px white;
  border-radius: 5px 5px 0 0;
  background-color: rgba(255, 255, 255, 0.86);
}

.general-info {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 15px 0;
  padding: 0 15px 0 0;
}

.general-info-right {
  display: flex;
  text-align: right;
  flex-direction: column;
}

.general-info-right h1 {
  color: rgba(51, 44, 105, 1);
}

.general-info-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.general-info-right img {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.score-visuals {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.letter-visuals {
  display: flex;
  justify-content: flex-start;
}

.letter-visuals div {
  font-size: 70px;
  width: 160px;
  height: 120px;
  display: flex;
  align-items: center;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.33);
  padding-left: 30px;
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
  color: white;
}

.political-icons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 320px;
}

.political-icons img {
  width: 60px;
  height: 50px;
  margin-top: -58px;
}

.political-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  width: 320px;
}

.political-bar {
  width: 220px;
  height: 25px;
  background-color: rgb(95, 151, 245);
  overflow: hidden;
  box-shadow: 2px 2px 2px grey;
  display: flex;
  justify-content: flex-end;
}

.political-fill {
  height: 25px;
  background-color: tomato;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.landing h3 {
  padding-bottom: 20px;
}

.barcode {
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 100px;
  font-weight: 400;
  color: black;
  padding: 20px 20px 5px 20px;
  cursor: pointer;
}

.welcome {
  display: flex;
  justify-content: center;
  text-align: right;
  max-width: 500px;
}

.welcomeleft {
  padding: 0 15px 0 0;
}

.welcome img {
  width: 190px;
  height: 190px;
}

.sorry {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 20px;
}

.scores {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.csr-bar {
  width: 300px;
  height: 25px;
  background-color: rgba(145, 223, 224, 0.87);
  overflow: hidden;
  box-shadow: 2px 2px 2px grey;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  margin: 8px 0;
}

.csr-fill {
  height: 25px;
  background-color: rgb(108, 188, 190);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.environment-bar {
  width: 300px;
  height: 25px;
  background-color: rgba(189, 233, 182, 0.74);
  overflow: hidden;
  box-shadow: 2px 2px 2px grey;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  margin: 8px 0;
}

.environment-fill {
  height: 25px;
  background-color: rgb(59, 166, 92);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note {
  display: none;
}
.note::after {
  display:none;
}

@media only screen and (min-width: 620px) {
  .note {
    display:block;
    align-items: center;
    justify-content: center;
    width: 200px;
    position: relative;
    background-color: #F4F39E;
    border-color: #DEE184;
    text-align: left;
    margin: 20px;
    padding: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    transform: rotate(4deg);
  }
  .note:after {
    display: block;
    content: "";
    position: absolute;
    width: 110px;
    height: 30px;
    top: -21px;
    left: 30%;
    border: 1px solid #fff;
    background: rgba(254, 254, 254, .6);
  }
}


.more-details1 p {
    padding: 4px 15px;
    width: 170px;
    margin: -7px 5px 0 0;
    color: white;
    background-color: rgb(66, 107, 56);
    border-radius: 0 0 15px 15px;
    font-size: 12px;
    box-shadow: 2px 2px 2px grey;
}

.more-details2 p {
    padding: 4px 15px;
    width: 170px;
    margin: -52px 5px 0 0;
    color: white;
    background-color: rgb(74, 89, 161);
    border-radius: 0 0 15px 15px;
    font-size: 12px;
    box-shadow: 2px 2px 2px grey;
}

.political-box h4 {
    margin-top: 15px;
}

.more-details1 p:hover, .more-details2 p:hover {
  color: rgb(255, 240, 142)
}

.errormsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.errormsg img {
  width: 150px;
  height: 150px;
  padding-top: 30px;
}

.errormsg p {
  font-size: 16px;
  padding: 20px;
  background-color: rgba(187, 94, 94, 0.81);
  color: white;
  border-radius: 15px;
  position: relative;
}

 .errormsg p:after { content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: rgba(187, 94, 94, 0.81);
    border-bottom: 0;
    border-right: 0;
    margin-left: -30px;
    margin-bottom: -20px;
  }

.errornote {
  padding: 0 30px;
}
