/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 $color1: rgba(80, 81, 79, 1);
 $color2: rgba(180, 173, 234, 1);
 $color3: rgba(253, 255, 247, 1);
 $color4: rgba(89, 255, 160, 1);
 $color5: rgba(255, 237, 101, 1);
 */

:root {
  font-family: 'KoHo', sans-serif;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0.35turn, rgba(253, 255, 247, 1), rgba(255, 237, 101, .5));
  font-size: 14px;
  padding: 0;
  margin: 0;
  background: linear-gradient(rgba(233, 255, 220, 0.62), #ffffffbf), url(https://images.unsplash.com/photo-1529917365646-d9b0d968d713?ixlib=rb-0.3.5…EyMDd9&s=3febbc1…&auto=format&fit=crop&w=1053&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  display: flex;
  max-width: 640px;
  flex-direction: column;
  color: rgba(80, 81, 79, 1);
  /* background-color: rgba(214, 157, 144, 0.14) */
}

a {
  text-decoration: none;
  color: rgba(62, 182, 113, 1);
}

a:hover, a:visited, a::selection {
  text-decoration: none;
  color: rgba(182, 169, 70, 1);
}

h1, h2, h3, h4, h5, h5 {
margin: 0;
line-height: 1.1em;
}

.scan-and-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  max-width: 640px;
}

#scanner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#scanner-container video {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
}

.news-section {
  padding: 15px 0;
}

#btn {
  height: 40px;
  width: 270px;
  background-color: #51afdc;
  color: rgba(253, 255, 247, 1);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
  border: none;
  margin: 10px;
}

#btn:hover, #btn::selection {
  background-color: #006296;
  cursor: pointer;
}

#btn:active {
  transform: translate(5px, 0px);
}
.scan-and-info form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.scan-and-info input[type=text] {
  height: 38px;
  width: 175px;
  color: rgba(253, 255, 247, 1);
  border-radius: 20px 0 0 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #51afdc;
  background-color: rgba(80, 171, 200, 0.2);
  padding: 0 0 0 20px;
}

.scan-and-info input[type=submit] {
  height: 40px;
  width: 75px;
  background-color: #51afdc;
  color: rgba(253, 255, 247, 1);
  border-radius: 0 20px 15px 0;
  border: none;
}


.scan-and-info input[type=submit]:hover {
background-color: #006296;
cursor: pointer;
}

#more {
  display: flex;
  position: absolute;
  bottom: 0px;
  padding: 10px;
}

.general-info {
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 15px 0;
}

.general-info-right {
  display: flex;
  text-align: right;
  flex-direction: column;
}

.general-info-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.general-info-right img {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.score-visuals {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.letter-visuals {
  display: flex;
  justify-content: flex-start;
}

.letter-visuals div {
 font-size: 70px;
 width: 160px;
 height: 120px;
 display: flex;
 align-items: center;
 box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.33);
 padding-left: 30px;
 box-sizing: border-box;
 font-family: 'Fredoka One', cursive;
 color: white;
}

.political-box {
  width: 320px;
}

.political-icons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 320px;
}

.political-icons img {
  width: 60px;
  height: 50px;
  margin-top: -55px;
}

.political-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

}

.political-bar {
  width: 220px;
  height: 20px;
  background-color: rgb(95, 151, 245);
  overflow: hidden;
  box-shadow: 2px 2px 2px grey;
  display: flex;
  justify-content: flex-end;

}

.political-fill {
  height: 20px;
  background-color: tomato;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vh 0;
  text-align: justify;
}

.welcome p {
  padding: 0 18px 0 0;
}

.welcome img {
  width: 140px;
  height: 140px;
}

.sorry {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scores {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.csr-bar {
  width: 300px;
  height: 25px;
  background-color: rgba(200, 223, 224, 0.87);
  overflow: hidden;
  box-shadow: 2px 2px 2px grey;
  display: flex;
  justify-content: flex-start;
  border-radius: 15px;
  overflow: hidden;
  margin: 8px 0;
}

.csr-fill {
  height: 25px;
  background-color: rgb(108, 188, 190);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.environment-bar {
  width: 300px;
  height: 25px;
  background-color: rgba(189, 233, 182, 0.74);
  overflow: hidden;
  box-shadow: 2px 2px 2px grey;
  display: flex;
  justify-content: flex-start;
  border-radius: 15px;
  overflow: hidden;
  margin: 8px 0;
}

.environment-fill {
  height: 25px;
  background-color: rgb(59, 166, 92);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
